@import '../../styles/vars';

.dashboard {
	margin-top: 80px;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title {
			font-weight: 500;
			font-size: 36px;
			margin-bottom: 10px;
		}
		.count {
			color: $gray;
			font-size: 14px;
		}
	}
}
