@import './vars';
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

body,
html {
	min-height: 100%;
}

body {
	font-family: Roboto;
	color: $white;
	font-size: 18px;
	background: $dark;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}