@import '../../../styles/vars';

button {
	outline: none;
	border: none;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 17px 25px;
	border-radius: 25px;
	font-size: 16px;
	color: $white;
	cursor: pointer;
}

.primary {
	background: $dark-purple;
}

.default {
	background: $light-dark;
}

.danger {
	background: $red;
}